.main-top-pad {
	padding-top: 50px;
}

.core_columns {
	-webkit-column-count: 4; /* Chrome, Safari, Opera */
	-moz-column-count: 4; /* Firefox */
	column-count: 4;
	-webkit-column-gap: 20px; /* Chrome, Safari, Opera */
	-moz-column-gap: 20px; /* Firefox */
	column-gap: 20px;
	-webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
	-moz-column-rule-style: solid; /* Firefox */
	column-rule-style: solid;
	-webkit-column-rule-color: #2fa4e7; /* Chrome, Safari, Opera */
	-moz-column-rule-color: #2fa4e7; /* Firefox */
	column-rule-color: #2fa4e7;
}

legend {
	font-size: 15px;
}

label, p {
	font-size: 12px;
}

.tab-content {
	padding: 10px;
}

footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 25px;
	width: 100%;
	background: aliceblue;
	padding-top: 5px;
}

.nowrap {
	white-space: nowrap;
}